.datasheet-multipage {
	padding: 50px;
	border: 1px solid #000;
}

.datasheet-page {
	min-height:30px;
	border:1px dashed #c3c4c7;
	padding:16px;
	box-sizing:border-box;
	background:#fafafa;
	margin-bottom: 50px;
	max-width: 100%;
}

.datasheet-content {
	height:100%;
	width:100%;
	position:relative;
}
